In [1]:
import pandas as pd

In [2]:
survey_df = pd.read_csv('kaggle_survey_2021_responses.csv')
survey_df

C:\Users\zaina\AppData\Local\Temp\ipykernel_20992\272820903.py:1: DtypeWarning: Columns (0,18,32,49,56,69,88,100,107,113,139,184,195,201,202,253,266,278,283,285,286,287,288,289,290,291,292,301,322,339,347,355,367) have mixed types. Specify dtype option on import or set low_memory=False.
  survey_df = pd.read_csv('kaggle_survey_2021_responses.csv')

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,R,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,NaN,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,924,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,575,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25969,1756,30-34,Man,Egypt,Bachelor’s degree,Data Analyst,1-3 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,253,22-24,Man,China,Master’s degree,Student,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,494,50-54,Man,Sweden,Doctoral degree,Research Scientist,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,277,45-49,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,255,18-21,Man,India,Bachelor’s degree,Business Analyst,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
survey_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25974 entries, 0 to 25973
Columns: 369 entries, Time from Start to Finish (seconds) to Q38_B_OTHER
dtypes: object(369)
memory usage: 73.1+ MB

In [4]:
survey_df.dtypes

Time from Start to Finish (seconds)    object
Q1                                     object
Q2                                     object
Q3                                     object
Q4                                     object
                                        ...
Q38_B_Part_8                           object
Q38_B_Part_9                           object
Q38_B_Part_10                          object
Q38_B_Part_11                          object
Q38_B_OTHER                            object
Length: 369, dtype: object

In [5]:
survey_df = pd.DataFrame(survey_df)
survey_df

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,R,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,NaN,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,924,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,575,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25969,1756,30-34,Man,Egypt,Bachelor’s degree,Data Analyst,1-3 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,253,22-24,Man,China,Master’s degree,Student,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,494,50-54,Man,Sweden,Doctoral degree,Research Scientist,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,277,45-49,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,255,18-21,Man,India,Bachelor’s degree,Business Analyst,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
survey_df.isnull().sum().sort_values(ascending=False)

Q38_B_Part_11                          25973
Q37_B_Part_7                           25973
Q31_B_Part_9                           25973
Q30_B_Part_6                           25973
Q30_B_Part_7                           25973
                                       ...
Q6                                         0
Q4                                         0
Q3                                         0
Time from Start to Finish (seconds)        0
Q2                                         0
Length: 369, dtype: int64

In [18]:
duplicated_mask = survey_df.columns.duplicated(keep='first')
non_duplicated_columns = [col for col, is_dup in zip(survey_df.columns, duplicated_mask) if not is_dup]
survey_df = survey_df[non_duplicated_columns]
print(survey_df)

      Time from Start to Finish (seconds)                           Q1  \
0                   Duration (in seconds)  What is your age (# years)?
1                                     910                        50-54
2                                     784                        50-54
3                                     924                        22-24
4                                     575                        45-49
...                                   ...                          ...
25969                                1756                        30-34
25970                                 253                        22-24
25971                                 494                        50-54
25972                                 277                        45-49
25973                                 255                        18-21

                                           Q2  \
0      What is your gender? - Selected Choice
1                                         Man
2                                         Man
3                                         Man
4                                         Man
...                                       ...
25969                                     Man
25970                                     Man
25971                                     Man
25972                                     Man
25973                                     Man

                                              Q3  \
0      In which country do you currently reside?
1                                          India
2                                      Indonesia
3                                       Pakistan
4                                         Mexico
...                                          ...
25969                                      Egypt
25970                                      China
25971                                     Sweden
25972                   United States of America
25973                                      India

                                                      Q4  \
0      What is the highest level of formal education ...
1                                      Bachelor’s degree
2                                        Master’s degree
3                                        Master’s degree
4                                        Doctoral degree
...                                                  ...
25969                                  Bachelor’s degree
25970                                    Master’s degree
25971                                    Doctoral degree
25972                                    Master’s degree
25973                                  Bachelor’s degree

                                                      Q5  \
0      Select the title most similar to your current ...
1                                                  Other
2                                Program/Project Manager
3                                      Software Engineer
4                                     Research Scientist
...                                                  ...
25969                                       Data Analyst
25970                                            Student
25971                                 Research Scientist
25972                                     Data Scientist
25973                                   Business Analyst

                                                      Q6  \
0      For how many years have you been writing code ...
1                                             5-10 years
2                                              20+ years
3                                              1-3 years
4                                              20+ years
...                                                  ...
25969                                          1-3 years
25970                                          1-3 years
25971                          I have never written code
25972                                         5-10 years
25973                          I have never written code

                                               Q7_Part_1  \
0      What programming languages do you use on a reg...
1                                                 Python
2                                                    NaN
3                                                 Python
4                                                 Python
...                                                  ...
25969                                             Python
25970                                             Python
25971                                                NaN
25972                                             Python
25973                                                NaN

                                               Q7_Part_2  \
0      What programming languages do you use on a reg...
1                                                      R
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                               Q7_Part_3  ...  \
0      What programming languages do you use on a reg...  ...
1                                                    NaN  ...
2                                                    SQL  ...
3                                                    NaN  ...
4                                                    NaN  ...
...                                                  ...  ...
25969                                                SQL  ...
25970                                                NaN  ...
25971                                                NaN  ...
25972                                                SQL  ...
25973                                                NaN  ...

                                            Q38_B_Part_3  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_4  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_5  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                           TensorBoard
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_6  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_7  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_8  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_9  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                           Q38_B_Part_10  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                           Q38_B_Part_11  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                             Q38_B_OTHER
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

[25974 rows x 369 columns]

In [7]:
type(survey_df)

pandas.core.frame.DataFrame

In [1]:
survey_df.rename(columns = {'Q1':'age',
                            'Q2':'gender',
                            'Q3':'location',
                            'Q4':'education level',
                            'Q5':'job title',
                            'Q6':'years of experience',
                            'Q7_Part_1':'Python',
                            'Q7_Part_2':'R',
                            'Q7_Part_3':'SQL',
                            'Q7_Part_4':'C',
                            'Q7_Part_5':'C++',
                            'Q7_Part_6': 'Java',
                            'Q7_Part_7': 'Javascript',
                            'Q7_Part_8': 'Julia',
                            'Q7_Part_9': 'Swift',
                            'Q7_Part_10': 'Bash',
                            'Q7_Part_11': 'MATLAB',
                            'Q7_Part_12': 'None'})

NameError: name 'survey_df' is not defined

In [3]:
kaggle kernels output priyharshgangwar/competitive-constellations-kaggle-s-kernels -p /path/to/dest

SyntaxError: invalid syntax (2380469407.py, line 1)